<header class="background">
    

    <p id="espaco"><a id="homeLinks1" href="/match/2x2">Sortear jogadores 2x2</a></p>
   
    <p id="espaco"><a id="homeLinks2" href="/match/playerRegister">Registrar Jogadores</a></p>
     
    <p id="espaco"><a id="homeLinks3" href="/match/history">Historico dos Jogadores</a></p>
     
    
</header>   