

<form class="form" action="/match/playerRegister" method="post">

<p id="espaco"><input class="formulario" type="text" name="nickname" placeholder="Nick do jogador"></p>
<input  id="homeLinks5" id="enviar" type="submit" value="Adicionar Jogador">
</form>
