{{#each players}}
<div class="card">



<h3 class="jog">Jogador: <h2 class="jog">{{this.nick}}</h2></h3>
<h3 class="jog">Vitorias: <h2 class="jog">{{this.vitorias}}</h2></h3>
<h3 class="jog">Derrotas: <h2 class="jog">{{this.derrotas}}</h2></h3>
<h3 class="jog">Winrate: <h2 class="jog">{{this.winrate}}%</h2></h3>


</div>
{{/each}}